#!/bin/sh


# Start picom
picom --config ~/.config/picom/picom.conf -b  &

# Run sxhkd
pgrep -x sxhkd > /dev/null || sxhkd &

# Polkit authentication
/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# Wallpaper
nitrogen --restore &

# Notification daemon
dunst &

# Set resolution 
xrandr -s 1920x1080 -r 240 &

# Disable mouse acceleration
xinput set-prop "pointer:Razer Razer Viper" "libinput Accel Profile Enabled" 0, 1 &

# Fix scroll speed for edge/chrome/discord #todo chrome
imwheel -b 45 &

# Set cursor
xsetroot -cursor_name left_ptr &

numlockx on

